@import 'main';

.AdminPage {
    .avoidBar; 
}

.adminListComponent {
    cursor: pointer;
}

.adminListComponent-edit {
    cursor: pointer;
    background-color: #F7F9F9   !important;
    font-style: italic;
}


.admin-button-container {
    width: 100%;
    margin-bottom: 2%;
    overflow: hidden;
}

.admin-button-left {
    float:left;
}

.admin-button-right {
    float: right;
    font-style: italic !important; 
}
.item-formcontrol {
    width: 100% !important;
}

#menu-image {
    margin-left: 4%;
}

#menu-category {
    #menu-image;
}

